.products{
    width: 100%;
    height: 8rem;
    text-align: right;
    padding: 1rem;
}
.products:nth-child(even){
    width: 100%;
    height: 8rem;
    text-align: left;
    padding: 1rem;
}

.products .types{
    font-size: .9rem;
    position: absolute;
    margin-top: 0rem;
    left: 1rem;
    color: #86CF51;
}
.products:nth-child(even) .types{
    min-width: 50%;
    font-size: .9rem;
    position: absolute;
    margin-top: 0rem;
    right: 1rem;
    text-align: right;
    color: #86CF51;
}

.products .highlight{
    font-size: .8rem;
    position: absolute;
    margin-top: 1rem;
    left: 1rem;
}
.products:nth-child(even) .highlight{
    width: 70%;
    font-size: .8rem;
    position: absolute;
    margin-top: 1rem;
    left: 6rem;
    text-align: right;
}
.products .price{
    font-size: .8rem;
    position: absolute;
    color: #86CF51;
    margin-top: 3.5rem;
}
.products:nth-child(even) .price{
    font-size: .8rem;
    position: absolute;
    left: 6rem;
    text-align: right;
    width: 70%;
    color: #86CF51;
    margin-top: 3.5rem;
}
.products .installment{
    font-size: .8rem;
    position: absolute;
    color:white;
    margin-top: 5rem;
    background-color: red;
    padding: .1rem .7rem .2rem .7rem;
    border-radius: 15px;
}
.products:nth-child(even) .installment{
    font-size: .8rem;
    position: absolute;
    right: 1rem;
    text-align: right;
    min-width: 30%;
    color:white;
    padding: .1rem .7rem .2rem .7rem;
    border-radius: 15px;
    background-color: red;
    margin-top: 5rem;
}
.img{
    height: 6rem;
}
h3{
    color: #86CF51;
    text-align: center;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 1rem;
    padding-top: 1.2rem;
}
.all-btn{
    width: 95%;
    height: 2.5rem;
    padding-top: .5rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    background-color: #86CF51;
    color: white;
    text-align: center;
    border-radius: 5px;

}