.input{
    width: 90%;
    padding: 5px 10px;
    margin-bottom: .5rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.input-year{
    width: 25%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.input-month{
    width: 15%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.input-day{
    width: 15%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.input-check{
    display: inline-block;
}
.select{
    width: 90%;
    margin-bottom: .5rem;
}
.left-part{
    width: 50%;
    height: 10rem;
    float: left;
}
.right-part{
    width: 50%;
    height: 10rem;
    float: right;
}

.upload-box{
    width: 90%;
    height: 9rem;
    border: 1px solid #86CF51;
    border-radius: 5px;
    color: #86CF51;
    padding-top: 2.8rem;
}
