<div class="allpage" align="center">
    <img src="assets/images/logo-laku.png" class="logo">
    <p class="title">Get your phone now!</p>
  </div>

  <div class="login-page">
      <div class="input-group mb-3"> 
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-mobile fa-2x"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Nomer Handphone" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="button">Masuk</div>
      <div class="or-section" align="center">
          <div class="linel" ></div>
          <div class="liner" ></div>
          <p class="or">OR</p>
        
      </div>
      <div class="button" (click)="CreateAccount()">Membuat Akun</div>
    </div>
  