.or-section{
    height: 1rem;
    padding: 1rem;
}
.linel{
    width: 35%;
    height: 1px;
    background-color: lightgray;
    position: absolute;
    left:10%;
}
.liner{
    width: 35%;
    height: 1px;
    background-color: lightgray;
    position: absolute;
    right:10%;
}
.or{
    font-size: .8rem;
    color: gray;
    margin-top: -.5rem;
    text-align: center;
}